#!below command to install the required python packages
#pip install -r requirements.txt

av
caer
ffmpeg-python
matplotlib
mediapipe
numpy
opencv-python
pandas
safetensors
scikit-learn
scipy
timm
torch
torchaudio
torchvision
transformers
tqdm
xgboost
accelerate
diffusers
transformers
safetensores
sklearn